commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_build_app.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cd /var/app/current
      export PATH=/opt/elasticbeanstalk/node-install/node-v8.17.0-linux-x64/bin:$PATH
      npm install -g cors
      npm install
      #pm2 start /var/app/current/backend/server.js
